@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Montserrat";
  color: white;
}
html, body {
  min-height: 100%;

  /* CSS HEX */
--black: #14080eff;
--blue-dark: #2e4970ff;
--blue-light: #3b6aa1ff;
--blue-light: #488ad1ff;
--pink-medium: #d6b6e0ff;
--pink-light: #eabce2ff;

/* CSS HSL */
/* --xiketic: hsla(330, 43%, 5%, 1);
--y-in-mn-blue: hsla(215, 42%, 31%, 1);
--queen-blue: hsla(212, 46%, 43%, 1);
--tufts-blue: hsla(211, 60%, 55%, 1);
--pink-lavender: hsla(286, 40%, 80%, 1);
--pink-lavender-2: hsla(310, 52%, 83%, 1); */

}
body {
  /* background: radial-gradient(at top left, rgba(146,43,225,1) 0%, rgba(43,9,107,1) 100%); */
  background-color: var(--blue-dark);
  background-repeat: no-repeat;
}
p {
  margin: 16px auto;
  line-height: 1.5em;
}
